@font-face { font-family: 'Qanelas'; src: url("../fonts/QanelasSoft/QanelasSoftDEMO-UltraLight.otf"); }
@font-face { font-family: 'Qanelas'; font-weight: bold; src: url("../fonts/QanelasSoft/QanelasSoftDEMO-ExtraBold.otf"); }
:root{
    --red-color:red;
    --bg-color: #F6ECE1;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
::-webkit-scrollbar{
    display: none;
}
header{
    position: fixed;
    height: 90px;
    width: 100%;
    background: #ffffff;
    padding: 15px 30px;
    z-index: 9999;
}
.header__profile--container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}
.header__business--profile{
    display: flex;
    align-items: center;
    margin-left: 244px;
    border: 1px solid #f3e1e1;
    border-radius: 20px;
    padding: 10px 14px;
}
.header__business--profile i{
    font-size: 24px;
    color: var(--red-color);
}
.header__business--profile div{
    margin-left: 10px;
}
.header__business--profile h2{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 12px;
    color: var(--red-color);
}
.header__business--profile p{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 10px;
    color: #FF7901;
    margin-right: 30px;
    margin-bottom: 0;

}
.header__profile--details{
    background: #FFFFFF;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.07);
    border-radius: 45px;
    padding: 7px 10px;
    display: flex;
    align-items: center;
    position: relative;
    border: 1px solid #fdd5d5;
}
.header__profile--details img{
    width: 35px;
    height: 35px;
    margin-right: 10px;
}
.header__profile--details i{
    color: var(--red-color);
    font-size: 22px;
    padding: 0 10px;
}
.header__profile--details p{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    color: #26262E;
    margin-right: 18px;
}
.menu__bar{
    display: none;
}
.line-one,
.line-two,
.line-three{
    width: 25px;
    height: 2px;
    margin-bottom: 5px;
    background: #FF7901;
    margin-left: 15px;
}

.menu__show{
    display: none;
}
.profile__menu--container{
    position: absolute;
    top: 78px;
    background: #FFFFFF;
    border: 1px solid #F2F2F4;
    box-shadow: 0px 30px 20px -20px rgb(198 211 232 / 20%);
    border-radius: 10px;
    list-style: none;
    right: 30px;
    z-index: -1;
    padding: 0;
    min-width: 250px;
}
.profile__menu--container li{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 30px;
    color: #7D7D7E;
    margin: 20px;
}
.profile__menu--container li h2{
    font-size: 14px;
    font-weight: 600;
    color: #000000;
    margin: 0 0 7px 0;
}
.profile__menu--container li p{
    font-size: 12px;
    color: rgb(219 162 162);
    margin-top: -14px;
    padding: 0;
    line-height: 40px;
    font-weight: 100;
    border-bottom: 1px solid rgb(253 238 238);
}
.profile__menu--container li i{
    font-size: 20px;
    color: var(--red-color);
    margin-right: 10px;
}
.log__out--menu{
    font-size: 16px !important;
    line-height: 28px !important;
    display: flex;
    align-items: center;
    color: #FF5E5E !important;
    justify-content: center;
    background: rgba(255, 1, 1, 0.1);
    border-radius: 5px;
    padding: 10px 34px;
}
.content{
    width: 100%;
    height: 100%;
    background: red;
}
.left__menu--container{
    width: 224px;
    height: 100%;
    min-height: 100vh;
    position: fixed;
    left: 0;
    background: #ffffff;
    text-align: center;
    padding-top: 11px;
    z-index: 9999;
}
.left__menu--items{
    margin-top: 15px;
    height: calc(100vh - 105px);
    overflow-y: scroll;
}
.each__menu--item{
    display: flex;
    align-items: center;
    justify-content: left;
    cursor: pointer;
    margin-top: 30px;
}
.each__menu--item i{
    color: var(--red-color);
    font-size: 20px;
}
.each__menu--item span{
    font-family: 'Poppins';
    white-space: nowrap;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 30px;
    color: var(--red-color);
    margin-left: 14px;
}
.each__menu--item:hover span{
    color: var(--red-color);
}
.each__menu--item:hover svg path{
    fill: #FF7901;
}
.menu__item--active span{
    color: var(--red-color);
}
.menu__item--active svg path{
    fill: #FF7901;
}
.each__menu--item:hover::after{
    content: '';
    display: inline-block;
    height: 29px;
    width: 3px;
    background: #FF7901;
    position: absolute;
    right: 0;
}
/* .menu__item--active::after{
    content: '';
    display: inline-block;
    height: 29px;
    width: 3px;
    background: #FF7901;
    position: absolute;
    right: 0;
} */
.dropdown__menu svg:not(:first-child){
    margin-left: 57px;
}
.dropdown__menu--items{
    margin-left: 11px;
}
.dropdown__menu--items ul{
    padding: 0;
}
.dropdown__menu--item{
    display: flex;
    align-items: center;
    justify-content: left;
    cursor: pointer;
    margin-top: 14px;
}
.dropdown__menu--item span{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 30px;
    color: #7D7D7E;
    margin-left: 13px;
}
.dropdown__menu--item:hover span{
    color: #ffffff;
}
.dropdown__menu--item:hover svg path{
    fill: #FF7901;
}

/*=======================================*/

.content-container{
    padding-top: 90px;
    background-color: #ffffff;
    height: 100vh;
    width: calc(100% - 224px);
    /*width: 100%;*/
    margin-left: 224px;
}
.container-layout{
    background: #f5f5ff;
    border-radius: 12px 12px 0 0;
    height: 100%;
    margin: 0 20px;
    padding-top: 1px;
}
@media (max-width: 1024px) {
    header{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .left__menu--container{
        top: 90px;
    }
    .navmenu__show{
        display: none;
    }
    .profile__details--container{
        width: 100%;
        margin-left: 0;
    }
    .menu__bar{
        display: block;
    }
    .notification__tab--container{
        padding-left: 100px;
    }
}
@media (max-width: 768px) {
    .header__profile--details{
        height: 50px;
        justify-content: space-between;
    }
    .header__profile--details p{
        font-size: 14px;
    }
}

@media (max-width: 600px) {
    header{
        padding: 15px;
    }
    .header__profile--balance p{
        font-size: 14px;
    }
    .header__profile--balance span{
        font-size: 14px;
    }
    .header__profile--details{
        width: 160px;
    }
    .profile__menu--container{
        width: 200px;
        right: 15px;
    }
    .profile__menu--container li{
        font-size: 12px;
    }
    .log__out--menu{
        font-size: 12px;
    }
    .log__out--menu{
        padding: 10px 14px;
    }
}
@media (max-width: 400px) {
    .header__profile--balance span{
        margin-right: 15px;
    }
}
.breadcums{
    background: #ffffff;
    padding: 10px 14px;
    margin: 20px;
    border-radius: 12px;
}
.breadcums h3{
    font-size: 14px;
    font-weight: 500;
    padding: 0;
    margin: 0;
}

/*====================================================*/

.color__bg--section{
    background: var(--bg-color);
    width: 100%;
    height: 100%;
    min-height: 100vh;
}
.signup__content--container{
    height: 100%;
    min-height: 516px;
    background: #FFFFFF;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.03);
    border-radius: 12px;
    padding: 40px;
}
.forget__content--container{
    min-height: 439px !important;
}
.check__mail--container{
    min-height: 305px !important;
}
.reset__content--container{
    min-height: 453px !important;
}
.verification__mail--container{
    min-height: 515px !important;
}
.signin__top--content h2{
    font-family: 'Qanelas';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    color: #F16532;
}
.signin__top--content img{
    object-fit: contain;
}
.signup__content--container p{
    font-family: 'Qanelas';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #616161;
    margin-bottom: 20px;
}
.signup__content--container h3{
    font-family: 'Qanelas';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    margin-bottom: 24px;
    color: #757575;
}
.each__input--container{
    width: 100%;
    height: 66px;
    background: #FAFAFA;
    border: 1px solid #F6ECE1;
    border-radius: 12px;
    padding: 14px 16px;
    margin-bottom: 24px;
}
.each__input--container label{
    font-family: 'Qanelas';
    font-style: normal;
    font-weight: 500;
    font-size: 10px;
    line-height: 16px;
    letter-spacing: 0.03em;
    color: #616161;
}
.each__input--container input{
    border: none;
    outline: none;
    background: #ffffffeb;
}
.each__input--container svg{
    right: 24px;
    bottom: 16px;
}

.forget__pass--container a{
    font-family: 'Qanelas';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px; color: #F16532;
    margin: 0;
    cursor: pointer;
    text-decoration: none;
}
.sign__in--btn{
    padding: 12px 16px;
    width: 100%;
    height: 44px;
    background: #F16532;
    border-radius: 4px;
    margin-top: 36px;
    border: none;
    outline: none;


    font-family: 'Qanelas';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #FFFFFF;
    margin-bottom: 24px;
}
.c-hr{
    border: 1px solid #F5F5F5;
    width: 100%;
}
.reset__content--container p:nth-child(3){
    font-family: 'Qanelas';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #D84315;
    margin-bottom: 0;
}
.password__strength--container{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 24px;
}
.password__strength--container .bar{
    width: 104px;
    height: 8px;
    background: #D84315;
    border-radius: 7px;
}
.password__strength--container span{
    font-family: 'Qanelas';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #757575;
    padding-left: 8px;
}
.secondary__btn{
    padding: 12px 16px;
    width: 100%;
    height: 44px;
    background: #ffffff;
    border-radius: 4px;
    margin-top: 36px;
    border: 1px solid #f1653233;
    outline: none;


    font-family: 'Qanelas';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #F16532;
    margin-bottom: 24px;
}
.verification__mail--container p span{
    font-family: auto;
}










@media (max-width: 768px) {
    .signup__content--container{
        margin: 3rem;
    }
}